
/* TEXT STYLES */

.text-dark {
    font-size: 14px;
    color: var(--font-dark);
}

.text-light {
    font-size: 16px;
    color: var(--white);
}

.text-dark-big {
    font-size: 16px;
    color: var(--font-dark);
}
.text-detail {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
}

.lighter-smaller {
    font-size: 12px;
    color: var(--white);
}

.text-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.green {
    color: var(--green);
}

.darker {
    margin-top: 10px;
    color: var(--font-dark); 
}

.line-height {
    line-height: 30px;
}

.white{
    color: var(--white);
}

.font-dark {
    color: var(--font-dark); 
}

.resumen-title-orange {
    background: var(--orange-gradient);    
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.resumen-title-blue {
    background: var(--blue-gradient);    
    -webkit-text-fill-color: transparent;
    background-clip: text;
}