
html, body {
    height: 100%;
    width: fit-content;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/font/inter-font.ttf');
}

:root {
    --background-color: #131415;
    --nav-hover: #1A1B1E;   
    --font-light: #EFEFF0;
    --font-dark: #A7AAB4;
    
    --blanco: #dbdbdb;
    --white: #FFFFFF;
    --green: #00F48D;
    --blue-badge: #20479E;
    --orange-badge: #D54E01;    
    --orange-gradient: linear-gradient(90deg, #F3E810 0%, #F4580A 100%);
    --blue-gradient: linear-gradient(90deg, #14B0FF 0%, #6950F5 100%);
    --black-section-gradient: linear-gradient(90deg, #212121 0%, #000000 100%);
}

h1 {
    font-size: 3.125rem;
    color: var(--orange-gradient);
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--white);
    margin: 0;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);
    margin: 0;
}

p {
    margin: 0;
    color: var(--font-dark);
}

app-card {
    background: var(--nav-hover);
    border-radius: 16px;
    margin-bottom: 20px;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show-animation {
    opacity: 1;
}